<div class="m-wrap">
  <!-- Header -->
  <app-header (toggleMenu)="sidenav.toggle()"></app-header>
  <!-- Container -->
  <mat-sidenav-container class="m-wrap__container">
    <!-- Side menu -->
    <mat-sidenav #sidenav class="m-sidenav" mode="over" fixedTopGap="56">
      <div class="m-sidenav__inner">
        <app-side-menu></app-side-menu>
      </div>
    </mat-sidenav>
    <!-- Main content -->
    <mat-sidenav-content>
      <!-- Current page content -->
      <div class="m-wrap__inner">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
