.m-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.m-wrap__container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.m-wrap__inner{
  padding: 5px 10px;
}

.m-sidenav{}

.m-sidenav__inner {
  padding: 8px;
  width: 260px;
  box-sizing: border-box;
}
