<div class="m-container">
  <h1>Your profile</h1>
  <mat-card class="m-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>face</mat-icon>
      </div>
      <mat-card-title>{{ user?.nickname }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="m-card__content">
      <mat-card-subtitle>ID: {{ user?.id }}</mat-card-subtitle>
      <mat-card-subtitle>Role: {{ user?.role }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
