<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a
    *ngFor="let item of sideMenu; trackBy: trackByMenuItem"
    mat-list-item
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[item.link]"
    >{{ item.text }}</a
  >
</mat-nav-list>
