.m-login{
  height: 100vh;
  padding-top: 30px;
  background-color: cadetblue;
  box-sizing: border-box;
}
.m-login__form{
  max-width: 600px;
  margin: 0 auto;
}

.m-login__row {
  display: block;
  margin: 0 0 10px 0;
  padding: unset;
  border: unset;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.m-login__error {
  padding: 5px 0;
  color: red;
  font-style: italic;
}
