<main class="m-login">
  <form
    class="m-login__form"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title><h1>Sign In</h1></mat-card-title>
        <mat-card-subtitle
          ><p>To use the service, you should to log in</p></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <!-- Nickname field -->
        <fieldset class="m-login__row" [disabled]="disabled">
          <mat-form-field appearance="outline">
            <mat-label>User's nickname</mat-label>
            <input
              type="text"
              matInput
              placeholder="CROWD nickname"
              formControlName="nickname"
              (input)="convertUserName()"
              required />
            <mat-error *ngIf="form.get('nickname')?.invalid">{{
              getFieldError('nickname')
            }}</mat-error>
          </mat-form-field>
        </fieldset>
        <!-- Password field -->
        <fieldset class="m-login__row" [disabled]="disabled">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="CROWD password"
              formControlName="password"
              required />
            <mat-error *ngIf="form.get('password')?.invalid">{{
              getFieldError('password')
            }}</mat-error>
          </mat-form-field>
        </fieldset>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="disabled || form.invalid">
          <mat-icon>login</mat-icon>
          Sign in
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="disabled"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </form>
</main>
