<mat-toolbar color="primary" class="m-header">
  <button mat-icon-button (click)="onToggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="m-header__spacer"></span>
  <button mat-icon-button routerLink="/profile" matTooltip="Profile page">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()" matTooltip="Sign out">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
