/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// regular style toast
@import 'ngx-toastr/toastr';
